*{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
}

body {
    background-color: #f9f9f9;
}





.banner{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(255, 202, 255); */
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../imgs/REzRU3YM0.jpg);
    background-size: cover;
    background-position:center;
    /* display: flex; */
}

.navbar {
    width: 95%;
    margin: auto;
    padding: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0px 0px 0px -20px; */
}
.wahm{
    width: 40px;
    height: 40px;
}
.logo{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-size: 50px;
    /* padding-left:35px ; */
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background:#00ccf0 ;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: width 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content {
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 180px;
    flex-direction: column;
}
.content h1{
    text-transform: uppercase;
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}
.content p{
        text-transform: capitalize;
        line-height: 25px;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        margin-bottom: 40px;
        /* align-items:left ; */
        /* margin-left: 250px; */
}

.button {
    display: inline-block;
    border-radius: 50px;
    background-color: transparent;
    border: 2px #06adca solid;
    /* border-color: rgba(207, 119, 18, 0.801); */
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 30px; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* position: absolute;
    top: 60%;
    left: 50%; */
}
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  .button:hover span {
    padding-right: 13px;
}
  .button:hover span:after {
    opacity: 1;
    right: 0;
}






.bannerf{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
.usersmallpic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../imgs/usersmallpic.jpg);
    background-size: 100px;
    background-position-x: 270px;
    cursor: pointer;
    transition: box-shadow 0.3s ;
}
.usersmallpic:hover{
    box-shadow: 0px 0px 10px 0px #00000018;
}
.navbarf {
    width: 95%;
    margin: auto;
    padding: 10px 0px 0px 0px;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0px 0px 0px -20px; */
}
.logof{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-size: 50px;
    /* padding-left:35px ; */
    /* margin: 0 0 0 15px; */
}
/* .navbarf ul {
    margin-right: 20px;
} */

.navbarf ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbarf ul li a{
    text-decoration: none;
    color: #00ccf0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    /* margin-right: 5px; */
}
.navbarf ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background:#06adca ;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: width 0.5s;
}
.navbarf ul li:hover::after{
    width: 100%;
}




.contentf {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}
.contentf1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.from {
    font-family: 'Poppins', sans-serif;
    font-size: 28PX;
    font-weight: 500;
    color: #3a7e99;
    margin: 100px 0px 20px 0px ;
}

.contentf .contentf1 div div{
    /* margin: 40px 10px; */
    height: 220px;
    width: 290px;
    border:1px #06adca solid ;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.contentf .contentf1 div p{
    margin-top: 230px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: #3a7e99;
}
.pr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    gap:90px 0px;
}
.pr1:hover{
    box-shadow: 0px 0px 20px #00000018;
    color: #a3f1ff;
}
.linef2 {
    height: 1px;
    background-image: linear-gradient( 
    90deg,rgba(0,0,0,0.00) 0%,#3a7e99 50%,rgba(0,0,0,0.00) 100%);
    opacity: 0.4;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 20px;
}




.buttonf {
    display: inline-block;
    border-radius: 50px;
    background-color: transparent;
    border: 2px #3a7e99 solid;
    /* border-color: rgba(207, 119, 18, 0.801); */
    color: #3a7e99;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 30px; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 20px;
    /* position: absolute;
    top: 60%;
    left: 50%; */
}
  .buttonf span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  .buttonf span:after {
    content: '▼';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  .buttonf:hover span {
    padding-right: 22px;
}
  .buttonf:hover span:after {
    opacity: 1;
    right: 0;
}





.contentg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}
.contentg1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentg2{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}
.usermedpic {
    width: 190px;
    height: 190px;
    background-image: url(../imgs/usersmallpic.jpg);
    background-size: 450px;
    background-position-x: -135px;
    border-radius: 50%;
    margin-top: 50px;
}
.userdetails{
    width: 800px;
    height: 190px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 30px;
    background-color: white;
    display: flex;
    box-shadow: 0px 0px 3px 0px #00000054;
    flex-direction: column;
}
.userdetails p{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: #3a7e99;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}
.userdetails span{
    font-family: 'Poppins', sans-serif;
    /* text-transform: capitalize; */
    color: #3a7e99;
    font-size: 30px;
    margin-left: 10px;
}
.fromg {
    font-family: 'Poppins', sans-serif;
    font-size: 60PX;
    font-weight: 500;
    color: #3a7e99;
    margin: 30px 0px 20px 0px ;
}
.prg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 90px 36px;
}
.contentg .contentg1 div div{
    /* margin: 40px 10px; */
    height: 220px;
    width: 290px;
    border:1px #06adca solid ;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.contentg .contentg1 div p{
    margin-top: 230px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: #3a7e99;
}

.contentg .contentg1 div span p {
    margin: 5px;
    padding: 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: 100;
    font-size: 150px;
    color: #a3f1ff;
}
.contentg .contentg1 div span{
    height: 220px;
    width: 290px;
    border:1px #a3f1ff solid ;
    border-radius: 5px;
    cursor: pointer;
}



.contentp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}
.contentp1{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
    /* margin-left: 150px; */
}
.picpic{
    width: 280px;
    height: 280px;
    position: relative;
}
.userpic{
    display: flex;
    width: 280px;
    height: 345px;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.dark{
    width: 280px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 5px;
}
.upicd{
    width: 280px;
    height: 280px;
    background-image: url(../imgs/usersmallpic.jpg);
    background-size: 600px;
    background-position-x: -165px;
    position: absolute;
    border-radius: 5px;
}
.upicc{
    width: 280px;
    height: 280px;
    background-image: url(../imgs/usersmallpic.jpg);
    background-size: 600px;
    background-position-x: -165px;
    border-radius: 50%;
    position: absolute;
}
.username{
    color: #3a7e99;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}
.userditailss{
    color: #3a7e99;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size: 16px;
    text-align: center;
}