*{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
}

body {
    background-color: #f9f9f9;
}




.bannerl{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #3A7E99 , #79D8D7);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cyanspuare{
    width: 80%;
    height: 85%;
    background-color: #A0F5F2;
    border-radius: 50px;
    position: relative;
}
.rightside{
    width: 40%;
    height: 100%;
    background-color: #f9f9f9;
    position: absolute;
    right: 0px;
    border-radius: 0px 50px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.formcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45px;
}
.RemeberForget p,
.loginh2 span{
    transition: all,0.3s;
}
.formcontainer p span:hover,
.RemeberForget p:hover{
    cursor: pointer;
    color: #06adca;
}
.rightside div form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 40px; */
    /* margin-left: 45px; */
}
.loginh1{
    font-family: 'Aclonica', sans-serif;
    color: #3a7e99;
    font-size: 74px;
    margin:40px 0px 0px 40px;
    letter-spacing: -2px;
}
.loginh2,
.RemeberForget p{
    font-family: 'Poppins', sans-serif;
    color: #3a7e99;
    font-size: 14px;
}
.loginh2{
    margin-top: 5px;
}
.passconlog{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}
.emailconlog{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#email1{
    width: 335px;
    border: none;
    border-bottom: 2px solid #3a7e99;
    background:transparent;
    font-size: 16px;
    padding: 0px 0px 2px 4px;
    font-family: 'Poppins', sans-serif;
    color: #06bdde;
}

#password1{
    width: 335px;
    border: none;
    border-bottom: 2px solid #3a7e99;
    background:transparent;
    font-size: 16px;
    padding: 0px 0px 2px 4px;
    font-family: 'Poppins', sans-serif;
    color: #06bdde;
}
#login{
    /* background-color: #06adca; */
    background-color: transparent;
    color: #06adca;
    /* border:2px #3a7e99 solid; */
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 100px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 5px 20px;
    margin-top: 30px;
}
#login:hover{
    background-color:#06adca ;
    color: #f9f9f9;
    /* box-shadow:0px 20px 10px #00000031; */
    /* margin-top: -2px */
}
.RemeberForget{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.cirs1{
    width: 170px;
    height: 170px;
    background-color: #5ebfbc;
    border-radius: 50%;
    position: absolute;
    top: -120px;
    left: 70px;
    z-index: 99;
}
.cirs2{
    width: 270px;
    height: 270px;
    background-color: #3a7e99;
    border-radius: 50%;
    position: absolute;
    bottom: -65px;
    right: -50px;
}
.cirs3{
    width: 470px;
    height: 470px;
    background-color: #d4fffe;
    border-radius: 50%;
    position: absolute;
    top: -335px;
    right: 0px;
}
/* input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
  } */
  /* input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 15px;
    height: 15px;
    border: 1px #3A7E99 solid;
    border-radius: 0.15em;
    transform: translateY(1.75px);
    place-content: center;
    display: grid;
  } */
  
  /* .form-control + .form-control {
    margin-top: 1em;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
  input[type="checkbox"]:checked::before {
    transform: scale(1);
} */

/* input:checked ~ .checkmark {
    background-color: #2196F3;
  } */
  

.leftside{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.leftside1{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.leftside1 div{
    width: 625px;
    height: 530px;
    border-radius: 50px;
    background-color: transparent;
    animation-name: example;
    animation-duration: 30s;
    animation-iteration-count: 30;
}
@keyframes example {
    15%   {background-image: url(../imgs/GDND48/Newfolder2/Untitled-1.png);
    background-size: 730px;
    background-position-x: center;
    background-position-y: center;
    }
    17%  {background-image: url(../imgs/GDND48/Newfolder2/Untitled-2.png);
    background-size: 730px;
    background-position-x: center;
    background-position-y: center;
}
    45%  {background-image: url(../imgs/GDND48/Newfolder2/Untitled-3.png);
    background-size: 730px;
    background-position-x: center;
    background-position-y: center;
}
    80%  {background-image: url(../imgs/GDND48/Newfolder2/Untitled-4.png);
    background-size: 730px;
    background-position-x: center;
    background-position-y: center;
}
    85%  {background-image: url(../imgs/GDND48/Newfolder2/Untitled-5.png);
    background-size: 730px;
    background-position-x: center;
    background-position-y: center;
}
    100% {background-image: url(../imgs/GDND48/Newfolder2/Untitled-6.png);
    background-size: 730px;
    background-position-x: center;
    background-position-y: center;
}
  }
.loginlogo{
    width: 200px;
    height: 200px;
    position: absolute;
    /* top: 0%;
    left: 0%; */
}
.banner{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(255, 202, 255); */
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../imgs/REzRU3YM0.jpg);
    background-size: cover;
    background-position:center;
    /* display: flex; */
}

.navbar {
    width: 96%;
    margin: auto;
    padding: 5px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0px 0px 0px -20px; */
}
.wahm{
    width: 40px;
    height: 40px;
}
.logo{
    width: 90.86px;
    height: 32.14px;
    cursor: pointer;
    background-size: 50px;
    /* size: 100px; */
    /* padding-left:35px ; */
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background:#00ccf0 ;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: width 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content {
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 180px;
    flex-direction: column;
}
.content h1{
    text-transform: uppercase;
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}
.content p{
        text-transform: capitalize;
        line-height: 25px;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        margin-bottom: 40px;
        /* align-items:left ; */
        /* margin-left: 250px; */
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.button {
    display: inline-block;
    border-radius: 50px;
    background-color: transparent;
    border: 2px #06adca solid;
    /* border-color: rgba(207, 119, 18, 0.801); */
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 30px; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* position: absolute;
    top: 60%;
    left: 50%; */
}
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  .button:hover span {
    padding-right: 13px;
}
  .button:hover span:after {
    opacity: 1;
    right: 0;
}






.bannerf{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
.usersmallpic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../imgs/usersmallpic.jpg);
    background-size: 100px;
    background-position-x: 270px;
    cursor: pointer;
    transition: box-shadow 0.3s ;
}
.usersmallpic:hover{
    box-shadow: 0px 0px 10px 0px #00000018;
}
.navbarf {
    width: 96%;
    margin: auto;
    padding: 5px 0px 5px 0px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 99;
    box-shadow:-40px 0px 0px 0px #f9f9f9, 40px 0px 0px 0px #f9f9f9, 0px -55px 20px 40px rgb(0 0 0);
    /* margin: 0px 0px 0px -20px; */
}
.logof{
    width: 90.86px;
    height: 32.14px;
    cursor: pointer;
    background-size: 50px;
    /* padding-left:35px ; */
    /* margin: 0 0 0 15px; */
}
/* .navbarf ul {
    margin-right: 20px;
} */

.navbarf ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbarf ul li a{
    text-decoration: none;
    color: #00ccf0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* margin-right: 5px; */
}
.navbarf ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background:#06adca ;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: width 0.5s;
}
.navbarf ul li:hover::after{
    width: 100%;
}

.contentfandaside{
    width: 96%;
    display: flex;
    /* margin-left: -35px; */
}
aside{
    /* width: 10%; */
    background-color: #f9f9f9;
    height: 30%;
    margin-right: 35px;
    position: sticky;
    top: 50px;
    /* border-right: 1px #eee solid; */
}
aside ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 70px;
    margin-top: 70px;
    /* position: sticky;
    top: 50px; */
}
aside ul li{
    list-style: none;
    /* display: inline-block; */
    /* margin-top: 70px; */
    position: relative;
}
aside ul li a{
    text-decoration: none;
    color: #00ccf0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
aside ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background:#06adca ;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: width 0.5s;
}
aside ul li:hover::after{
    width: 100%;
    margin-right: 8px;
}




.contentf {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contentf1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.from {
    font-family: 'Poppins', sans-serif;
    font-size: 28PX;
    font-weight: 500;
    color: #3a7e99;
    margin: 63px 0px 20px 0px ;
}

.pr1{
    /* margin: 40px 10px; */
    height: 220px;
    width: 275px;
    border:1px #06adca solid ;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.pp1container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
}
.pp1container span{
    /* margin: -30px 10px 0 0; */
    margin: -30px 4px 0 -40px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: #3a7e99;
    /* font-size: 14px; */
}
.pp1container span span{
    font-size: 12px;
    /* font-size: 14px; */
}
.pp1{
    /* margin-top: 230px; */
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: #3a7e99;
}

.pr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 50px;
    gap:55px 15px;
}
.pr1:hover{
    box-shadow: 0px 0px 20px #00000018;
    color: #a3f1ff;
}
/* .linef1 {
    height: 800px;
    background-image: linear-gradient(rgba(0,0,0,0.00) 0%,#3a7e99 50%,rgba(0,0,0,0.00) 100%);
    opacity: 0.4;
    width: 4px;
    position: sticky;
    top: 10px;
    margin-left: 10px;
    margin-right: 25px;
} */
.linef2 {
    height: 1px;
    background-image: linear-gradient( 
    90deg,rgba(0,0,0,0.00) 0%,#3a7e99 50%,rgba(0,0,0,0.00) 100%);
    opacity: 0.4;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 20px;
}
.linef3 {
    height: 1px;
    background-image: linear-gradient( 
    90deg,rgba(0,0,0,0.00) 0%,#3a7e99 50%,rgba(0,0,0,0.00) 100%);
    opacity: 0.4;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}




.buttonf {
    display: inline-block;
    border-radius: 50px;
    background-color: transparent;
    border: 2px #3a7e99 solid;
    /* border-color: rgba(207, 119, 18, 0.801); */
    color: #3a7e99;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 30px; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 20px;
    /* position: absolute;
    top: 60%;
    left: 50%; */
}
  .buttonf span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  .buttonf span:after {
    content: '▼';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  .buttonf:hover span {
    padding-right: 22px;
}
  .buttonf:hover span:after {
    opacity: 1;
    right: 0;
}





.contentg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}
.contentg1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentg2 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
.usermedpic {
    width: 190px;
    height: 190px;
    background-image: url(../imgs/usersmallpic.jpg);
    background-size: 450px;
    background-position-x: -135px;
    border-radius: 50%;
}
.userdetails{
    width: 800px;
    height: 190px;
    border-radius: 5px;
    margin-left: 30px;
    background-color: white;
    display: flex;
    box-shadow: 0px 0px 3px 0px #00000054;
    flex-direction: row;
}
.userdetails p{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: #3a7e99;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}
.userdetails p span{
    font-family: 'Poppins', sans-serif;
    color: #3a7e99;
    font-size: 30px;
}
.userdetails div{
    width: 5%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    margin: 15px 5px;
    justify-content: space-between;
    align-items: center;
}
.smallicon{
    width: 25px;
    height: 25px;
    /* padding: 6px 5px; */
    transition: all 0.3s;
}
.smallicon:hover{
    cursor: pointer;
    /* box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.199); */
    width: 30px;
    height: 30px;
}
.fromg {
    font-family: 'Poppins', sans-serif;
    font-size: 60PX;
    font-weight: 500;
    color: #3a7e99;
    margin: 30px 0px 20px 0px ;
}
.prg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 75px 12px;
}
/* .contentg .contentg1 div div{
    height: 220px;
    width: 275px;
    border:1px #06adca solid ;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
} */
/* .contentg .contentg1 div p{
    margin-top: 230px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: #3a7e99;
} */
.pr1g p {
    margin: 5px;
    padding: 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: 100;
    font-size: 150px;
    color: #a3f1ff;
}
.pr1g{
    height: 220px;
    width: 275px;
    border:1px #a3f1ff solid ;
    border-radius: 5px;
    cursor: pointer;
}



.contentp{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    margin-top: 70px;
}
.contentpp1,
.contentpp2{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}
.contentps3{
    width: 100%;
}
.contentps1{
    width:280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-top: 20px; */
    margin-left: 50px;
}


.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 40px;
}
.form1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
label {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: #3a7e99;
    font-size: 14px;
    font-weight: 400;
}


.fnamcon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.lnamecon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.flcon{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.passcon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.emailcon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type=text]{
    width: 155px;
    border: none;
    border-bottom: 2px solid #3a7e99;
    background:transparent;
    font-size: 16px;
    padding: 0px 0px 2px 4px;
    font-family: 'Poppins', sans-serif;
}
input[type=email]{
    width: 335px;
    border: none;
    border-bottom: 2px solid #3a7e99;
    background:#EEE;
    font-size: 16px;
    padding: 0px 0px 2px 4px;
    font-family: 'Poppins', sans-serif;
}

input[type=password]{
    width: 335px;
    border: none;
    border-bottom: 2px solid #3a7e99;
    background:transparent;
    font-size: 16px;
    padding: 0px 0px 2px 4px;
    font-family: 'Poppins', sans-serif;
}
input[type=submit]{
    /* background-color: #06adca; */
    background-color: transparent;
    color: #06adca;
    /* border:2px #3a7e99 solid; */
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 100px;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 5px 20px;
}
input[type=submit]:hover{
    box-shadow:0px 2px 10px #00000031;
    /* margin-top: -2px */
}
input:focus, textarea:focus, select:focus{
    outline: none;
}



.picpic{
    width: 280px;
    height: 280px;
    position: relative;
}
.userpic{
    display: flex;
    width: 280px;
    height: 345px;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.dark{
    width: 280px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 5px;
}
.upicd{
    width: 280px;
    height: 280px;
    background-image: url(../imgs/usersmallpic.jpg);
    background-size: 600px;
    background-position-x: -165px;
    position: absolute;
    border-radius: 5px;
}
.upicc{
    width: 280px;
    height: 280px;
    background-image: url(../imgs/usersmallpic.jpg);
    background-size: 600px;
    background-position-x: -165px;
    border-radius: 50%;
    position: absolute;
}
.username{
    color: #3a7e99;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}
.userditailss{
    color: #3a7e99;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    letter-spacing: 6px;
    font-size: 16px;
    text-align: center;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar:hover{
    display: inline-block;
}
::-webkit-scrollbar-track{
    background-color: #f9f9f9;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0, 204, 240, 0.5);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 204, 240);
}