*{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
}
.banner{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(255, 202, 255); */
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../imgs/REzRU3YM.jpg);
    background-size: cover;
    background-position:center ;
}

.bannerf{
    width: 100%;
    height: 100vh;
    background-color: #efefef;
    /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../imgs/REzRU3YM.jfif); */
    background-size: cover;
    background-position:center ;
}
.navbar {
    width: 90%;
    margin: auto;
    padding: 20px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-size: 50px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background:#00ccf0 ;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: width 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}






.navbarf {
    width: 90%;
    margin: auto;
    padding: 20px 10px 10px 10px;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logof{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-size: 50px;
    /* margin: 0 0 0 15px; */
}
/* .navbarf ul {
    margin-right: 20px;
} */
.navbarf ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbarf ul li a{
    text-decoration: none;
    color: #00ccf0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    /* margin-right: 5px; */
}
.navbarf ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background:#06adca ;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: width 0.5s;
}
.navbarf ul li:hover::after{
    width: 95%;
}





.content{
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 30%;
    flex-direction: column;
}
.content h1{
    text-transform: uppercase;
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}
.content p{
        text-transform: capitalize;
        line-height: 25px;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        margin-bottom: 30px;
        /* align-items:left ; */
        /* margin-left: 250px; */
}
.button {
    display: inline-block;
    border-radius: 50px;
    background-color: transparent;
    border: 2px #06adca solid;
    /* border-color: rgba(207, 119, 18, 0.801); */
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 30px; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* position: absolute;
    top: 60%;
    left: 50%; */
}
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  .button:hover span {
    padding-right: 18px;
}
  .button:hover span:after {
    opacity: 1;
    right: 0;
}
